<h2>S'inscrire</h2>

<!-- Reactive Form -->
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <label for="username">Nom d'utilisateur :</label>
  <input type="text" id="username" formControlName="username" placeholder="Nom d'utilisateur" required>

  <label for="password">Mot de passe :</label>
  <input type="password" id="password" formControlName="password" placeholder="Mot de passe" required>

  <button type="submit" [disabled]="signupForm.invalid">S'inscrire</button>

  <!-- Display of the dynamic message deepending on the result -->
  <div [ngClass]="{ 'success': isSuccess, 'error': !isSuccess }">
    {{ submittedMessage }}
  </div>
</form>

<div class="button-container">
  <div class="center">
    <button><a routerLink="/login">J'ai déjà un compte, Se connecter</a></button>
  </div>
</div>