<h2>Se connecter</h2>

<!-- Reactiv form -->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label for="username">Nom d'utilisateur :</label>
  <!-- Links the field value to the username property in the component -->
  <input type="text" id="username" placeholder="Nom d'utilisateur" formControlName="username" required>
  <br>

  <label for="password">Mot de passe :</label>
  <!-- Links the field value to the password property in the component -->
  <input type="password" id="password" placeholder="Mot de passe" formControlName="password" required>
  <br>

  <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
</form>

<!-- Adding dynamic class based on message type -->
<div [ngClass]="{ 'success': isSuccess, 'error': !isSuccess }">
  {{ submittedMessage }}
</div>

<!-- Register button -->
<div class="button-container">
  <div class="center">
    <button><a routerLink="/signup">M'inscrire</a></button>
  </div>
</div>
